{
  "exclude": [
    "coverage/**/*.js",
    "lib/**/*.js",
    "src/bin/*.js",
    "src/test/schemas/*.js"
  ],
  "extension": [
    ".js"
  ],
  "require": [
    "babel-core/register"
  ],
  "cache": true,
  "all": true,
  "reporter": [
    "html",
    "text"
  ]
}
